{% extends 'base.html' %}

{% block content %}

 <div style = "border-radius: 1rem; margin: 2rem; text-align: center;">
     <h1 class="DevJunBlog_headerfooter_logo", style="color:white">
         알려줘요 오마상
     </h1>


<form action="" method="post">
    {% csrf_token %}
    <textarea id="chat-log" cols="100" rows="20">
         {{ message1 }}
    </textarea><br/>
     <input id="chat-message-input" type="text" size="90" placeholder="메시지를 입력하세요"/>
     <input id="chat-message-submit" type="submit" value="전송"/>

</form>




    </div>


{% endblock %}